section.main-content {
    background-color: white;
    position: absolute;
    top: 0;
    /* bottom: 0;
    left: 0;
    right: 0;
    overflow: auto; */
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}