/* html {
    scroll-behavior: smooth;
} */

body>header {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
    text-align: right;
    height: 4.16rem;
    background-color: #410440;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 4.16rem;
    padding: 0 1.5rem;
}

body>main {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

body>main>nav {
    /*font-size: 1rem;*/
    z-index: 20;
    position: fixed;
    top: 4.16rem;
    left: 18rem;
    right: 0;
    padding: 1rem 0;
    border-bottom: solid 1px #E2E3E7;
    background-color: white;
}

body>main>nav>a.button {
    position: relative;
    display: inline-block;
    height: 3rem;
    margin-left: 1.5rem;
    padding-left: 2rem;
}

body>main>nav>a.button:first-child {
    margin-left: 0;
    padding-left: 1rem;
}

body>main>nav>a::before, body>main>nav>a::after {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    background-color: transparent;
    border: solid 1.5rem transparent;
    border-left-color: white;
    content: '';
    z-index: 10;
}

body>main>nav>a:first-child::before, body>main>nav>a:last-child::after {
    display: none;
}

body>main>nav>a::after {
    left: auto;
    right: -3rem;
    border-left-color: #E2E3E7;
    transition: 0.15s border-left-color;
}

body>main>nav>a:not(.active) {
    background-color: #E2E3E7;
    color: #464B51;
}

body>main>nav>a:not(.active):hover {
    background-color: #d4d6db;
}

body>main>nav>a:not(.active):hover::after {
    border-left-color: #d4d6db;
}

body>main>nav>a.active::after {
    border-left-color: #92278F;
}

body>main>nav>a.active:hover::after {
    border-left-color: #6a1c68;
}

/* main content */

.main-content>article {
    /* leave space for the side bar nav */
    margin-left: 18rem;
}

.main-content>article header {
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.main-content>article>main, .category>main, .question>main {
    padding-top: 2rem;
}

.main-content .main-column {
    max-width: 62rem;
}

.main-content .side-column {
    max-width: 62rem;
}

/* form */

form {
    width: 100%;
}

form .form-item {
    width: 100%;
    height: 4rem;
    display: flex;
}

form .form-item label {
    min-width: 12rem;
}

form .form-item .value {
    flex-grow: 1;
}

form .form-item .Select {
    top: -1rem;
}

form .form-item .Select input {
    outline: none;
    border: none;
}

/* table.summary */

table.summary {
    width: 100%;
    font-size: smaller;
    border-collapse: collapse;
}

table.summary th, table.summary td {
    padding: 1rem;
    border: solid 1px #E2E3E7;
}

table.summary th {
    text-align: left;
}

table.summary td.number {
    text-align: right;
}

/* .help-text */

a.expand {
    font-weight: bold;
}

.help-text {
    height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.help-text.expanded {
    height: auto;
    transition: max-height 0.25s ease-in;
}

.help-text p:last-child {
    margin-bottom: 0;
}

/* category */

.category {
    min-height: 100vh;
    /* should be dynamic 100% of  */
}

.category p {
    margin-bottom: 2rem;
}

/* question */

.question {
    position: relative;
    border-left: 1rem solid #92278F;
    border-left: none;
    padding-bottom: 18rem;
    text-align: justify;
    min-height: 60rem;
    min-height: 100vh;
    /* should be dynamic 100% of  */
}

.question>main {
    position: relative;
    min-height: 10rem;
}

.question>footer {
    border-bottom: solid 1px #E2E3E7;
    margin-bottom: 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.question .text, .question .help, .question .answers, .question .navigation {
    margin-bottom: 4rem;
}

.question .answers, .question .answer, .question .answer label {
    min-height: 4rem;
    min-width: 12.4rem;
}

.question .answers {
    display: flex;
    flex-wrap: wrap;
}

.question .answer {
    flex-grow: 0.2;
    flex-basis: 0;
    position: relative;
    display: block;
}

.question .answer input {
    position: absolute;
    z-index: -1;
}

.question .answer label {
    font-size: 1.3rem;
    cursor: pointer;
    overflow: hidden;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 4rem;
    text-align: center;
    background-color: #E2E3E7;
    color: #464B51;
    transition: 0.15s background-color, color;
}

.question .answer label:hover {
    background-color: #d4d6db;
}

.question .answer.selected label {
    color: white;
    background-color: #92278F;
}

.question .navigation {
    position: relative;
    height: 2.8rem;
}

.question .prev, .question .next {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
}

.question .next {
    left: auto;
    right: 0;
}

/* .category .sub-section */

.category .sub-section {
    margin-bottom: 4rem;
}

.category .sub-section header {
    padding-top: 0;
    padding-bottom: 0;
}

.category .sub-section p:last-child {
    margin-bottom: 0;
}

.category .sub-section ul {
    padding-left: 2rem;
}

.category .sub-section ul li {
    padding-bottom: 2rem;
}

.category .sub-section ul li:last-child {
    padding-bottom: 0;
}

.category .sub-section.warning {
    padding: 2rem;
    color: #9F6000;
    background-color: #FEEFB3;
    border: dashed 0.02rem #9F6000;
    max-width: 130rem;
    font-weight: bold;
}

.category .sub-section.warning header {
    display: none;
}

.category .sub-section.score p.level {
    padding-bottom: 0.6rem;
    font-size: 1.74rem;
    text-align: justify;
    text-justify: inter-word;
    border-bottom: solid 0.02rem black;
}

.category .sub-section.caseStudy, .category .sub-section.tips, .category .sub-section.bestPractice, .category .sub-section.signPosting {
    border: solid 1px black;
    padding: 2rem;
}

.category .sub-section.caseStudy>header, .category .sub-section.tips>header, .category .sub-section.bestPractice>header, .category .sub-section.signPosting>header {
    margin-bottom: 2rem;
}

/* .category.end */

.category.end .buttons {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.category.end .button.result, .category.end .button.organisation {
    display: block;
    text-align: center;
}

.category.end .button.result {
    padding: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: large;
}

/* .columns */

@media screen and (min-width: 900px) {
    .columns {
        display: flex;
        flex-direction: row;
    }
    .columns>.main-column {
        flex: 6;
        margin-right: 6rem;
    }
    .columns>.side-column {
        flex: 3;
    }
}

/* chart */

/* modal */

.modal {
    background: #fff !important;
    padding: 2rem !important;
    font-size: 1.6rem;
}

.modal h2 {
    padding-bottom: 1rem;
}

.modal p {
    padding: 1rem 0;
}

.modal .buttons {
    margin-top: 2rem;
}

.modal .buttons a.button:not(:first-child) {
    margin-left: 1rem;
}

.modal svg.Modal-closeIcon-0-1-4 {
    display: none;
}