article.essay > header {
    padding-top: 7rem;
    margin-bottom: 6rem;
}

article.essay > section {
    margin-bottom: 4rem;
}

article.essay > section > header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

article.essay p {
    margin-bottom: 2rem;
}

.devNote {
    color: #ccc;
}

.devNote a {
    color: #bbb;
}