body {
    color: rgb(70, 75, 81);
    font-family: Arial,Helvetica,sans-serif;
}

input, select {
    border: solid 1px #E2E3E7;
    color: rgb(70, 75, 81);
    background-color: transparent;
    font-size: inherit;
    line-height: 2.3rem;
    height: 2.3rem;
}

input[type=number] {
    width: 9rem;
    text-align: right;
}

label {
    font-weight: 700;
}

input:focus,
select:focus {
    outline: none;
    border: solid 1px #92278F;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-margin-start: 0.5rem;
}

body > header,
body > main {
    padding: 2rem;
    font-size: 1.6rem;
}

div.variable {
    padding-bottom: 3rem;
}

div.variable label {
    display: inline-block;
    width: 18rem;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem 1.4rem;
    border-right: solid 0.2rem #92278F;
}

tfoot th:first-child {
    text-align: left;
}

tfoot tr:nth-child(2) th,
tfoot tr:nth-child(2) td {
    border-right: none;
}

th {
    font-weight: 700;
    padding: 1.4rem;
}

td.number {
    text-align: right;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

td:first-child {    
    border-right: none;
}

th:last-child,
td:last-child {
    padding-right: 0;
    border-right: none;
}