div.variable {
    padding-bottom: 3rem;
}

div.variable label {
    display: inline-block;
    width: 18rem;
}

table.bright {
    border-collapse: collapse;
}

table.bright th,
table.bright td {
    padding: 0.5rem 1.4rem;
    border-right: solid 0.2rem #92278F;
}

table.bright tfoot th:first-child {
    text-align: left;
}

table.bright tfoot tr:nth-child(2) th,
table.bright tfoot tr:nth-child(2) td {
    border-right: none;
}

table.bright th {
    font-weight: 700;
    padding: 1.4rem;
}

table.bright td.number {
    text-align: right;
}

table.bright th:first-child,
table.bright td:first-child {
    padding-left: 0;
}

table.bright td:first-child {    
    border-right: none;
}

table.bright th:last-child,
table.bright td:last-child {
    padding-right: 0;
    border-right: none;
}