nav.progress {
    position: fixed;
    top: 9rem;
    bottom: 3em;
    left: 0;
    width: 16rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav.progress a:hover {
    text-decoration: none;
}

nav.progress .node {
    display: block;
    position: relative;
    margin-left: 7.75rem;
    width: 0;
    
    border-left: solid 0.25rem #E2E3E7;
    border-right: solid 0.25rem #E2E3E7;
    border-radius: 0.5rem;

    flex-grow: 1;

    transition: 150ms border-color ease-out, 150ms flex-grow ease-in-out;
}

nav.progress .node.sub-node {
    display: none;
}

@media screen and (min-height: 560px) {
    nav.progress .node.sub-node {
        display: block;
    }
}

nav.progress .node.collapsed {
    flex-grow: 0;
}

nav.progress .node:first-child {
    flex-grow: 0;
    border-color: transparent;
}

nav.progress .number,
nav.progress .text {
    position: absolute;
    background-color: #E2E3E7;
    bottom: -1.5rem;
    left: -1.5rem;
    width: 3rem;
    height: 3rem;
    line-height: 2;
    font-size: 1.6rem;
    text-align: center;

    color: #464B51;
    font-weight: bold;
    border-radius: 50%;

    transition: background-color 150ms ease-out, color 150ms ease-out;
    user-select: none;

    z-index: 9;
}

nav.progress .sub-node .number {
    width: 2rem;
    height: 2rem;
    bottom: -1rem;
    left: -1rem;
    z-index: 4;
    font-size: 1rem;
    line-height: 2rem;
}

@media screen and (min-height: 660px) {
    nav.progress .sub-node .number {
        width: 3rem;
        height: 3rem;
        
        bottom: -1.5rem;
        left: -1.5rem;
        
        font-size: inherit;
        line-height: 3rem;
    }
}

nav.progress .text {
    border-radius: 0;
    width: 12rem;
    left: -6rem;
}

nav.progress .node a:hover {
    text-decoration: none;
    background-color: #d4d6db;
}

nav.progress .node.started {
    border-color: #BA4FB7;
}

nav.progress .node.started a {
    background-color: #BA4FB7;
    color: white;
}

nav.progress .node.started a:hover {
    background-color: #924490;
}

nav.progress .node.answered {    
    border-color: #92278F;
}

nav.progress .node.answered a {
    background-color: #92278F;
    color: white;
}

nav.progress .node.answered a:hover {
    background-color: #6a1c68;
}

nav.progress .node.selected::before {
    bottom: 0;
    content: '▶';
    position: absolute;
    z-index: 10;
    line-height: 0;
    left: -8rem;
}