body > header,
.survey {
    margin-left: 10rem;
}

nav.progress {
    position: fixed;
    top: 4rem;
    bottom: 4em;
    left: 0;
    width: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav.progress a:hover {
    text-decoration: none;
}

nav.progress .node {
    display: block;
    position: relative;
    margin-left: 4.75rem;
    width: 0;
    
    border-left: solid 0.25rem #E2E3E7;
    border-right: solid 0.25rem #E2E3E7;
    border-radius: 0.5rem;

    flex-grow: 1;

    transition: 0.15s background-color, color;
}

nav.progress .node:last-child {
    flex-grow: 0;
    border: none;
}

nav.progress .number,
nav.progress .text {
    position: absolute;
    background-color: #E2E3E7;
    top: -1.5rem;
    left: -1.5rem;
    width: 3rem;
    height: 3rem;
    line-height: 2;
    font-size: 1.6rem;
    text-align: center;

    color: #464B51;
    font-weight: bold;
    border-radius: 50%;

    transition: 0.15s background-color, color;
    user-select: none;
}

nav.progress .sub-node .number {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    top: -1rem;
    left: -1rem;
}

nav.progress .text {
    border-radius: 0;
    width: 6rem;
    left: -3rem;
}

nav.progress .number:hover {
    text-decoration: none;
    background-color: #d4d6db;
}

nav.progress .node.started {
    border-color: #BA4FB7;
}

nav.progress .node.started .number {
    background-color: #BA4FB7;
    color: white;
}

nav.progress .node.started .number:hover {
    background-color: #924490;
}

nav.progress .node.answered {    
    border-color: #92278F;
}

nav.progress .node.answered .number {
    background-color: #92278F;
    color: white;
}

nav.progress .node.answered .number:hover {
    background-color: #6a1c68;
}

.survey {
    max-width: 100rem;
}

.section > header {
    padding-top: 4rem;
}

.section.end main {
    padding-top: 4rem;
}

.question {
    position: relative;
    border-left: 1rem solid #92278F;
    border-left: none;
    padding-bottom: 18rem;
    text-align: justify;

    min-height: 60rem;
    min-height: 100vh; /* should be dynamic 100% of  */
}

.question > header {
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.question > main {
    position: relative;
    min-height: 10rem;
    border-bottom: solid 1px #E2E3E7;
}

.question .text, .question .help, .question .answers, .question .feedback, .question .navigation {
    margin-bottom: 4rem;
}

a.expand {
    font-weight: bold;
}

.help-text {
    height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.help-text .answers {
    margin-top: 4rem;
}

.help-text.expanded {
    height: auto;
    transition: max-height 0.25s ease-in;
}

.question .answers, .question .answer, .question .answer label {
    height: 4rem;
}

.question .answers {
    display: flex;
}

.question .answer {
    flex-grow: 1;
    position: relative;
    display: block;
}

.question .answer label {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 4rem;
    text-align: center;
    background-color: #E2E3E7;
    color: #464B51;
    transition: 0.15s background-color, color;
}

.question .answer label:hover {
    background-color: #d4d6db;
}

.question .answer.selected label {
    color: white;
    background-color: #92278F;
}

/*.question .answer.selected label:hover {
    background-color: #6a1c68;
}*/

.question .navigation {
    position: relative;
    height: 2.8rem;
}

.question .prev,
.question .next {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
}

.question .next {
    left: auto;
    right: 0;
}

.end .feedback {
    margin-top: 4rem;
}

.feedback textarea {
    display: block;
    width: 100%;
    height: 6rem;
}