/* html {
    scroll-behavior: smooth;
} */

body > header {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    border-bottom: solid 1px #E2E3E7;
    background-color: white;

    font-size: 1rem;
    line-height: 1rem;
    text-align: right;
    height: 3rem;
}

body > main {
    padding-top: 0;
}

.survey {
    margin-left: 14rem;
    max-width: 62rem;
}

.survey form {
    width: 100%;
}

.survey form .form-item {
    width: 100%;
    height: 4rem;
    display: flex;
}

.survey form .form-item label {
    min-width: 12rem;
}

.survey form .form-item .value {
    flex-grow: 1;
}

.category > header {
    padding-top: 4rem;
}

.category.start main,
.category.end main {
    padding-top: 4rem;
}

.start-button {
    height: 6rem;
    padding: 2rem;
    text-align: center;
}

.start-button .button {
    margin-left: auto;
    margin-right: auto;
}

.category {    
    min-height: 100vh; /* should be dynamic 100% of  */
}

.question {
    position: relative;
    border-left: 1rem solid #92278F;
    border-left: none;
    padding-bottom: 18rem;
    text-align: justify;

    min-height: 60rem;
    min-height: 100vh; /* should be dynamic 100% of  */
}

.question > header {
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.question > main {
    position: relative;
    min-height: 10rem;
}

.question > footer {    
    border-bottom: solid 1px #E2E3E7;
    margin-bottom: 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.question .text, .question .help, .question .answers, .question .feedback, .question .navigation {
    margin-bottom: 4rem;
}

a.expand {
    font-weight: bold;
}

.help-text {
    height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.help-text .answers {
    margin-top: 4rem;
}

.help-text.expanded {
    height: auto;
    transition: max-height 0.25s ease-in;
}

.question .answers,
.question .answer,
.question .answer label {
    height: 4rem;
}

.question .answers {
    display: flex;
}

.question .answer {
    flex-grow: 0.2;
    position: relative;
    display: block;
}

.question .answer label {
    font-size: 1.3rem;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 4rem;
    text-align: center;
    background-color: #E2E3E7;
    color: #464B51;
    transition: 0.15s background-color, color;
}

.question .answer label:hover {
    background-color: #d4d6db;
}

.question .answer.selected label {
    color: white;
    background-color: #92278F;
}

/*.question .answer.selected label:hover {
    background-color: #6a1c68;
}*/

.question .navigation {
    position: relative;
    height: 2.8rem;
}

.question .prev,
.question .next {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
}

.question .next {
    left: auto;
    right: 0;
}

.end .feedback {
    margin-top: 4rem;
    min-height: 60rem;
}

.feedback textarea {
    display: block;
    width: 100%;
    height: 6rem;
}

table.summary {
    width: 100%;
    border-collapse: collapse;
}

table.summary th,
table.summary td {
    padding: 1rem;
    border: solid 1px #E2E3E7;
}

table.summary th {
    text-align: left;
}

table.summary td.number {
    text-align: right;
}

.category.score p {
    padding: 1rem 0;
}

.category.score .sub-section {
    padding: 1.5rem;
}

.category.score .warning,
.category.score .caseStudy {
    border: dashed 1px #464B51;
    background-color: #EFEFEF;
    margin: 1rem 0;
    padding: 1.5rem 1rem;
    position: relative;
}

.category.score .warning::before,
.category.score .caseStudy::before {
    color: #aaaaaa;
    position: absolute;
    content: 'Warning';
    font-weight: bold;
    right: 0;
    top: 0;
    padding: 0.6rem;
    font-size: 1.2rem;
}

.category.score .caseStudy::before {
    content: 'Case study';
}