body>header {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    background-color: #410440;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    height: 4.16rem;
    line-height: 4.16rem;
    padding: 0 1.5rem;
    z-index: 30;
}

body>header a {
    display: inline-block;
    position: relative;
    border-bottom: none;
    padding: 0 1rem;
    z-index: 100000;
}

body>header>a:first-child {
    padding-left: 0;
}

body>header a::before,
body>header div.dropdown::before {
    content: '';
    position: relative;
    left: 0;
    border-left: solid 1px white;
}

body>header a::before {
    left: -1rem;
}

body>header a:first-child::before,
body>header div.dropdown:first-child::before {
    content: none;
}

body>header div.dropdown {
    display: inline-block;
    position: relative;
}

body>header div.dropdown>a {
    cursor: pointer;
}

body>header div.dropdown>a:before {
    content: none;
}

body>header div.dropdown>a::after {
    content: '';
    position: relative;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: .5rem;
    top: .1rem;
    background-image: url(https://resources.esd.org.uk/images/common/down.png);
    background-repeat: no-repeat;
    background-size: 2.4rem 1.2rem;
}

body>header div.dropdown>a:hover::after {
    background-position: -12px top;
}

body>header div.dropdown>div.content {
    position: absolute;
    z-index: 20;
    padding: 1rem;
    line-height: 1rem;
    width: auto;
    background-color: #410440;
    border: solid 1px #6A217A;
    transition: opacity 200ms ease-in;
    opacity: 0;
    white-space: nowrap;
    right: 0;
}

body>header div.dropdown.open>div.content {
    opacity: 1;
}

body>header div.dropdown>div.content a,
body>header div.dropdown>div.content .label {
    display: block;
    padding: 1rem 0;
    margin: 0;
    line-height: normal;
}

body>header div.dropdown>div.content .home {
    border-bottom: solid 1px #6A217A;
}

body>header div.dropdown>div.content .children {
    padding-left: 1.3rem;
}

body>header div.dropdown>div.content>a:first-child,
body>header div.dropdown>div.content>.label:first-child {
    padding-top: 0;
}

body>header div.dropdown>div.content>a:last-child,
body>header div.dropdown>div.content>.label:last-child {
    padding-bottom: 0;
}

body>header div.dropdown>div.content>.children:last-child>a:last-child,
body>header div.dropdown>div.content>.children:last-child>.label:last-child {
    padding-bottom: 0;
}

body>header div.dropdown>div.content a::before {
    content: none;
}

body>header .credentials {
    display: block;
    float: right;
}

body>header .credentials div.dropdown>div.content {
    min-width: 23.6rem;
    text-align: left;
    right: 0;
}

body>header .credentials div.dropdown>div.content a,
body>header .credentials div.dropdown>div.content .label {
    padding: 0;
    margin: 2.8rem 0;
}

body>header .credentials div.dropdown>div.content .label:first-child,
body>header .credentials div.dropdown>div.content .label.subtle {
    margin-top: 0;
    margin-bottom: .8rem; 
}

body>header .credentials div.dropdown>div.content .label.subtle {
    color: #959595;
}

body>header div.dropdown>div.content a.signOut {
    border-top: 1px solid #6A217A;
    text-align: center;
    padding: 2rem 0;
    margin: 0 -1rem -1rem -1rem;
}